*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --dioses:#103853;
}
:root{
    --blue:#127AA1;
    --mar:#223D65;
    --sky:#C8ECFF;
    --bor:#A1D3E3;
    --letra:#FFFFFF;
    --minle:#C6E8FF;
}
header{
    background-color:var(--blue);
    height:20.7vh;
}

h1{
    display: grid;
    grid-template-columns: 7.6vw 30.83vw;
    position: relative;
    top: 32%;
    gap: 23px;
    color: #FFFFFF;
    text-shadow:2px 2px 2px black;
    font-size: 48px;
}
h1 div{
    position: relative;
    left: 2%;
    color: white;
    text-shadow: #1c90bb;
}
.nigth{
    height: 15.2vh;
background-color: #ffffff00;
    border-radius: 100%;
}
.nigth:active{
    transition: 400ms;
    background-color: #14456600;
}
/* .dog :visited{
    
} */
.nigth:link{
    text-decoration: none;
}


.one{
    height: 15.2vh;
    position: relative;
    left: 10%;
    top: -27%;
    z-index: 10;
    border-radius: 100%;
    box-shadow: 4px 8px 8px rgb(34, 34, 34);
}
.one:hover{
    transition: 400ms;
    box-shadow: 10px 6px 9px rgb(34, 34, 34);
}
.cat{
    display: grid;
    grid-template-columns: repeat(3, 13.88vw);
    grid-template-rows: 10.1vh;
gap: 40px;
position: relative;
top: -48%;

}
.cat a{
position: relative;
left: 360%;
border-radius: 40px;
background-color: #144566;
color: #C8ECFF;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
}

.cat :hover{
    transition: 400ms;
    box-shadow: 5px 9px 8px rgb(34, 34, 34);
    background: rgb(28,101,151);
    background: linear-gradient(180deg, rgba(28,101,151,1) 50%, rgba(110,219,253,0.93) 100%);
}

 .dog:active{
    transition: 400ms;
    background-color: #144566;
}
/* .dog :visited{
    
} */
.dog:link{
    text-decoration: none;
}


 body{
    background-color: #1c91bb00;
    height: 100vh;
 }

 footer{position: relative;
    top: 60%;
     background-color:var(--mar);
 height: 23%;
 font-size: 26px;
 color: var(--sky);
}


.fondo{
    position: absolute;
    z-index: -20;
    width:99.9%;
    height: 160%;
    background: rgb(37,144,184);
    background: linear-gradient(180deg, rgba(37,144,184,1) 0%, rgba(26,102,153,0.5579481792717087) 44%, rgba(30,125,189,0.7988445378151261) 81%, rgba(5,68,109,0.7372198879551821) 96%);
}


.cp{height: 37.3vh;}



.cpb
{
    display: grid;
    grid-template-columns: repeat(3, 15.62vw);
    grid-template-rows:repeat(2, 31.1vh);
    gap: 80px;
row-gap: 30.777%;
}


    .cpb .aqua{
        position: relative;
        top: -460%;
    height: 13.83vh;
    border-radius: 32px;
 
}
.cpb .dulce{
    position: relative;
    top: -460%;
    height: 13.83vh;
    border-radius: 32px;
}
.cpb .rei{
    position: relative;
    top: -460%;
    height: 13.83vh;
    border-radius: 32px;

}

.cpb .aqua1{
    position: relative;
    top:-340%;
    height: 13.83vh;
    border-radius: 32px;
}
.cpb .dulce1{
    position: relative;
    top:-340%;
    height: 13.83vh;
    border-radius: 32px;
}.cpb .rei2{
    height: 13.83vh;
    position: relative;
    top: -340%;
    border-radius: 32px;
    
}


.cpb div{position: relative;
    top: 20vh;
    left: 23vw;
    background-color: var(--dioses);
    color: var(--letra);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.zero{

    border-radius: 100%;
}

.ni{
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    top: 60%;
}

.legal{
    display: grid;
    grid-template-columns: 25vw 25vw;
    position: relative;
    align-items: flex-end;
 gap: 40vw;

}
.legal div{ 
   
       position: relative;
    top: 10%;
    left: 13%;
    
}
.t{
    position: relative;
    left: 33%;
    color: var(--minle);
    
}
.p{
  text-align:end;
  color: var(--minle);
 
}


/* tableeeeeeeeeeeeeeeeeeeeeeeeee
eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeet */


@media (max-width: 1000px){
 /*    header{
            background-color: #a11212;
            height:12vh ;
        } */
      
    
h1{
    display: grid;
    grid-template-columns: 7.2vw 30.83vw;
    position: relative;
    top: 25%;
    gap: 23px;
    height: 7.5vh;
}
h1 div{
    left: 2%;
}
.one{
    height: 5.4vh;
    position: relative;
    top: 10%;
    left: 20%;
    z-index: 10;
}

.cat{
    display: grid;
    grid-template-columns: repeat(3, 14.9vw);
    grid-template-rows: 3.5vh;
gap: 27px;
position: relative;
top: -23%;

}
.cat div{
position: relative;
left: 290%;
}

footer{
 height: 16%;
 top: 0%;
}


.cp{height: 18vh;}



.cpb
{
    display: grid;
    grid-template-columns: repeat(3, 20.8vw);
    grid-template-rows:repeat(3, 15.6vh);
    gap: 40px;
row-gap: 90px;
}


.cpb .aqua{
    position: relative;
    top: -110%;
    height: 5vh;
    border-radius: 32px;
}
.cpb .dulce{
    position: relative;
    top: -110%;
    height: 5vh;
    border-radius: 32px;
}
.cpb .rei{
    position: relative;
    top: -110%;
    height:5vh;
    border-radius: 32px;
}

.cpb .aqua1{
    position: relative;
    top: -330%;
    height:5vh;
    border-radius: 32px;
}
.cpb .dulce1{
    position: relative;
    top: -330%;
    height: 5vh;
    border-radius: 32px;
}
.cpb .rei2{
    position: relative;
    top:-330%;
    height: 5vh;
    border-radius: 32px;
}


.cpb div{position: relative;
    top: 15vh;
    left: 15vw;
   
}

.zero{

    border-radius: 100%;
}


}

/* ceeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeluuuuuuuuuuuuuuuuuuuuu
laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaarrrrrrrrrrrrrrrrrrrrrrrrrrr */
@media (max-width: 700px){
    header{
 
        height:10.5vh ;
    }
  

h1{
display: grid;
grid-template-columns: 13.6vw 1fr;
position: relative;
top: 10%;
gap: 11px;
height: 6.5vh;
font-size: 20px;
}
h1 div{
left: 8%;
}
.one{
height: 6.5vh;
position: relative;
top: 10%;
z-index: 10;
}

.cat{
display: grid;
grid-template-columns: repeat(3, 19.88vw);
grid-template-rows: 3.8vh;
gap: 21px;
position: relative;
top:-6%;

}
.cat a{
position: relative;
left: 97%;
font-size: 9px;
}


footer{
height: 16vh;
width: 100%;
}
.cp{height: 2vh;}



.cpb
{
    display: grid;
    grid-template-columns: repeat(2, 25.6vw);
    grid-template-rows:repeat(3, 11.8vh);
    column-gap: 40px;
    row-gap:50px ;
}

.cpb .aqua{
    position: relative;
    top: -890%;
    height: 3.8vh;
    border-radius: 32px;
    width: 27vw;
    left: 19vw;
}
.cpb .dulce{
    position: relative;
    top: -890%;
   
    height:  3.8vh;
    border-radius: 32px;
    width: 28vw;
    left: 19vw;
}
.cpb .rei{
    position: relative;
    top: -670%;
    height: 3.8vh;
    border-radius: 32px;
    
}

.cpb .aqua1{
    position: relative;
    top: -670%;
    width: 27vw;
    height: 3.8vh;
    border-radius: 32px;
    left: 19.5vw;
}
.cpb .dulce1{
    position: relative;
    top: -300%;
    width: 27vw;
    height:  5.8vh;
    border-radius: 32px;
    left: 19.5vw;
}
.cpb .rei2{
    position: relative;
    top: -300%;
    width: 28vw;
    height: 3.8vh;
    border-radius: 32px;
    left: 19vw;
}


.cpb div{position: relative;
    top: 7vh;
    left: 20vw;
   font-size: 11px;
}

.zero{

    border-radius: 100%;
}
section .cbp{
    height: 1px;
}
    
 
.fondo{
    height: 79%;
}

.ni{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
}
.ni div{position: relative;
    top: 0%;

}

.legal{
    display: grid;
    grid-template-columns: 35vw 30vw;
    position: relative;
    align-items: flex-end;
 gap: 40vw;
 font-size: 10.5px;

}
.legal div{ 
   
       position: relative;
    top: 10%;
    left: 13%;
    
}
.t{
    position: relative;
    left: 33%;
    color: var(--minle);
    
}
.p{
  text-align:end;
  color: var(--minle);
  position: relative;
  left: -50%;
 
}

}